@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

p {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}
